# Pliki systemowe
.DS_Store
Thumbs.db

# Konfiguracja lokalna edytora
.vscode/

# Pliki tymczasowe, logi i pliki binarne
*.log
__pycache__/
bin/
obj/
node_modules/

# Wirtualne środowisko Python
venv/
env/
ENV/

# Pliki z danymi użytkowników - nie ignorujemy ich, aby byly w repozytorium - planowane dzialanie
# uzytkownicy.json



